
@model ShoppingCartViewModel

<form method="post">
    <br />
    @if (Model.ListCart.Count() > 0)
    {
        <div class="backgroundWhiteBorder">
            <div class="container">
                <div class="card">
                    <div class="card-header bg-dark text-light ml-0 row container">
                        <div class="col-6">
                            <i class="fa fa-shopping-cart"></i> &nbsp;
                            Shopping Cart
                        </div>
                        <div class="col-6 text-right">
                            <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-outline-info btn-sm">Continue Shopping</a>
                        </div>
                    </div>


                    <div class="card-body">
                        @foreach (var item in Model.ListCart)
                        {
                            <div class="row">
                                <div class="d-none d-lg-block col-lg-2 text-center py-2">
                                    <img src="@item.Product.ImageUrl" class="rounded" style="max-height:140px;max-width:140px" />
                                </div>
                                <div class="col-12 text-sm-center col-lg-5 text-lg-left">
                                    <h5><strong>@item.Product.Title</strong></h5>
                                    <p><small>@item.Product.Description</small></p>
                                </div>
                                <div class="col-12 text-sm-center col-lg-5 text-lg-right row">
                                    <div class="col-4 text-md-right" style="padding-top:5px;">
                                        <h6><strong>@item.Price &#8382;<span class="text-muted"> x </span>@item.Count </strong></h6>
                                    </div>
                                    <div class="col-6 col-sm-4 col-lg-6">
                                        <div class="float-right mx-1">
                                            <a asp-action="Plus" asp-route-cartId="@item.Id" type="submit" class="btn btn-primary">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </div>
                                        <div class="float-right mx-1">
                                            <a asp-action="Minus" asp-route-cartId="@item.Id" type="submit" class="btn btn-danger">
                                                <i class="fas fa-minus"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-2 col-sm-4 col-lg-2 text-right">
                                        <a asp-action="Remove" asp-route-cartId="@item.Id" type="submit" class="btn btn-outline-danger">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <hr />

                        }

                        <div class="row">
                            <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 pr-4">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between bg-primary">
                                        <span> Total (GEL)</span>
                                        <strong>@Model.OrderHeader.OrderTotal.ToString("0.00") &#8382;<span id="txtOrderTotal"></span></strong>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>



                    <div class="card-footer">
                        <div class="card-footer row">
                            @if (!Model.OrderHeader.ApplicationUser.EmailConfirmed &&
Model.OrderHeader.ApplicationUser.CompanyId != null &&
Model.OrderHeader.ApplicationUser.Company.IsAuthorizedCompany)
                            {
                                <div class="col-8 text-danger">
                                    Email Must be confirmed for authorized customers!
                                </div>
                                <div class="col-4">
                                    <button type="submit" class="btn btn-outline-warning btn-sm">Click here to resend confirmation email</button>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6 ">

                                    <a asp-area="Customer" asp-controller="Cart" asp-action="Summary" class="btn btn-success form-control">Summary</a>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-4 offset-4">
                <ul>
                    <li class="list-group-item d-flex bg-primary">
                        There are no items in shopping cart
                    </li>
                </ul>
            </div>
        </div>

    }
</form>
